# Working with Pandas DataFrames in Python

## Working with Library Head Count Data

For this lesso, we will use head count data provided by USC's Leavey library.

In [2]:
import pandas

In [3]:
import sys
print("hello")

hello

In [4]:
print(sys.path)

['', '/Users/timdennis/anaconda3/lib/python36.zip', '/Users/timdennis/anaconda3/lib/python3.6', '/Users/timdennis/anaconda3/lib/python3.6/lib-dynload', '/Users/timdennis/anaconda3/lib/python3.6/site-packages', '/Users/timdennis/anaconda3/lib/python3.6/site-packages/aeosa', '/Users/timdennis/anaconda3/lib/python3.6/site-packages/IPython/extensions', '/Users/timdennis/.ipython']

## Working with Library Head Count Data

For this lesson, we will be using head count data from USC's Leavey library. The data is in a `csv` file and located at: https://raw.githubusercontent.com/ucla-data-archive/library-python/gh-pages/data/leavey_oct-2017_head-counts.csv

Download this file and put it in your working directory in a folder called `data/` (create this folder if it doesn't exist).

In [6]:
import pandas as pd

In [7]:
headcounts = pd.read_csv('data/leavey_oct-2017_head-counts.csv')

In [10]:
headcounts.head()

,Date,12 AM,1 AM,2 AM,3 AM,4 AM,5 AM,6 AM,7 AM,8 AM,...,2 PM,3 PM,4 PM,5 PM,6 PM,7 PM,8 PM,9 PM,10 PM,11 PM
0,1 Sun,0,0,0,0,0,0,0,0,0,...,441,475,542,567,530,609,633,632,581,467
1,2 Mon,205,138,87,46,34,25,16,18,61,...,277,367,350,337,356,340,365,391,392,374
2,3 Tue,277,197,105,73,34,25,16,18,62,...,373,444,429,406,362,386,447,437,441,340
3,4 Wed,272,198,114,64,36,25,20,27,47,...,361,387,426,389,380,392,368,393,438,340
4,5 Thu,292,202,97,55,29,25,16,29,55,...,365,390,380,349,293,242,280,277,283,217

In [34]:
headcounts.columns[1:]

Index(['12 AM', '1 AM', '2 AM', '3 AM', '4 AM', '5 AM', '6 AM', '7 AM', '8 AM',
       '9 AM', '10 AM', '11 AM', '12 PM', '1 PM', '2 PM', '3 PM', '4 PM',
       '5 PM', '6 PM', '7 PM', '8 PM', '9 PM', '10 PM', '11 PM', 'date',
       'week_day'],
      dtype='object')

Here, we see we have head count data by date and hour.

In [26]:
headc_tidy = headcounts.melt(id_vars='Date', value_vars=headcounts.columns[1:])

In [27]:
headc_tidy['date'], headc_tidy['week_day'] = headcounts['Date'].str.split(' ', 1).str

In [28]:
headc_tidy['date'] = 'Oct'

       Date  variable value date week_day
0     1 Sun     12 AM     0    1      Sun
1     2 Mon     12 AM   205    2      Mon
2     3 Tue     12 AM   277    3      Tue
3     4 Wed     12 AM   272    4      Wed
4     5 Thu     12 AM   292    5      Thu
5     6 Fri     12 AM   137    6      Fri
6     7 Sat     12 AM   105    7      Sat
7     8 Sun     12 AM     0    8      Sun
8     9 Mon     12 AM   232    9      Mon
9    10 Tue     12 AM   253   10      Tue
10   11 Wed     12 AM     0   11      Wed
11   12 Thu     12 AM   289   12      Thu
12   13 Fri     12 AM   155   13      Fri
13   14 Sat     12 AM   108   14      Sat
14   15 Sun     12 AM     0   15      Sun
15   16 Mon     12 AM   166   16      Mon
16   17 Tue     12 AM   334   17      Tue
17   18 Wed     12 AM   204   18      Wed
18   19 Thu     12 AM   225   19      Thu
19   20 Fri     12 AM   119   20      Fri
20   21 Sat     12 AM   106   21      Sat
21   22 Sun     12 AM     0   22      Sun
22   23 Mon     12 AM   173   23      Mon
23   24 Tue     12 AM   301   24      Tue
24   25 Wed     12 AM   273   25      Wed
25   26 Thu     12 AM   304   26      Thu
26   27 Fri     12 AM   200   27      Fri
27   28 Sat     12 AM   104   28      Sat
28   29 Sun     12 AM     0   29      Sun
29   30 Mon     12 AM   200   30      Mon
..      ...       ...   ...  ...      ...
776   2 Mon  week_day   Mon  NaN      NaN
777   3 Tue  week_day   Tue  NaN      NaN
778   4 Wed  week_day   Wed  NaN      NaN
779   5 Thu  week_day   Thu  NaN      NaN
780   6 Fri  week_day   Fri  NaN      NaN
781   7 Sat  week_day   Sat  NaN      NaN
782   8 Sun  week_day   Sun  NaN      NaN
783   9 Mon  week_day   Mon  NaN      NaN
784  10 Tue  week_day   Tue  NaN      NaN
785  11 Wed  week_day   Wed  NaN      NaN
786  12 Thu  week_day   Thu  NaN      NaN
787  13 Fri  week_day   Fri  NaN      NaN
788  14 Sat  week_day   Sat  NaN      NaN
789  15 Sun  week_day   Sun  NaN      NaN
790  16 Mon  week_day   Mon  NaN      NaN
791  17 Tue  week_day   Tue  NaN      NaN
792  18 Wed  week_day   Wed  NaN      NaN
793  19 Thu  week_day   Thu  NaN      NaN
794  20 Fri  week_day   Fri  NaN      NaN
795  21 Sat  week_day   Sat  NaN      NaN
796  22 Sun  week_day   Sun  NaN      NaN
797  23 Mon  week_day   Mon  NaN      NaN
798  24 Tue  week_day   Tue  NaN      NaN
799  25 Wed  week_day   Wed  NaN      NaN
800  26 Thu  week_day   Thu  NaN      NaN
801  27 Fri  week_day   Fri  NaN      NaN
802  28 Sat  week_day   Sat  NaN      NaN
803  29 Sun  week_day   Sun  NaN      NaN
804  30 Mon  week_day   Mon  NaN      NaN
805  31 Tue  week_day   Tue  NaN      NaN

[806 rows x 5 columns]

In [30]:
headc_tidy.join(headc_tidy['Date'].str.split(' ', 1, expand=True).rename(columns={0:'day', 1:'weekday'}))

       Date  variable value date week_day day weekday
0     1 Sun     12 AM     0    1      Sun   1     Sun
1     2 Mon     12 AM   205    2      Mon   2     Mon
2     3 Tue     12 AM   277    3      Tue   3     Tue
3     4 Wed     12 AM   272    4      Wed   4     Wed
4     5 Thu     12 AM   292    5      Thu   5     Thu
5     6 Fri     12 AM   137    6      Fri   6     Fri
6     7 Sat     12 AM   105    7      Sat   7     Sat
7     8 Sun     12 AM     0    8      Sun   8     Sun
8     9 Mon     12 AM   232    9      Mon   9     Mon
9    10 Tue     12 AM   253   10      Tue  10     Tue
10   11 Wed     12 AM     0   11      Wed  11     Wed
11   12 Thu     12 AM   289   12      Thu  12     Thu
12   13 Fri     12 AM   155   13      Fri  13     Fri
13   14 Sat     12 AM   108   14      Sat  14     Sat
14   15 Sun     12 AM     0   15      Sun  15     Sun
15   16 Mon     12 AM   166   16      Mon  16     Mon
16   17 Tue     12 AM   334   17      Tue  17     Tue
17   18 Wed     12 AM   204   18      Wed  18     Wed
18   19 Thu     12 AM   225   19      Thu  19     Thu
19   20 Fri     12 AM   119   20      Fri  20     Fri
20   21 Sat     12 AM   106   21      Sat  21     Sat
21   22 Sun     12 AM     0   22      Sun  22     Sun
22   23 Mon     12 AM   173   23      Mon  23     Mon
23   24 Tue     12 AM   301   24      Tue  24     Tue
24   25 Wed     12 AM   273   25      Wed  25     Wed
25   26 Thu     12 AM   304   26      Thu  26     Thu
26   27 Fri     12 AM   200   27      Fri  27     Fri
27   28 Sat     12 AM   104   28      Sat  28     Sat
28   29 Sun     12 AM     0   29      Sun  29     Sun
29   30 Mon     12 AM   200   30      Mon  30     Mon
..      ...       ...   ...  ...      ...  ..     ...
776   2 Mon  week_day   Mon  NaN      NaN   2     Mon
777   3 Tue  week_day   Tue  NaN      NaN   3     Tue
778   4 Wed  week_day   Wed  NaN      NaN   4     Wed
779   5 Thu  week_day   Thu  NaN      NaN   5     Thu
780   6 Fri  week_day   Fri  NaN      NaN   6     Fri
781   7 Sat  week_day   Sat  NaN      NaN   7     Sat
782   8 Sun  week_day   Sun  NaN      NaN   8     Sun
783   9 Mon  week_day   Mon  NaN      NaN   9     Mon
784  10 Tue  week_day   Tue  NaN      NaN  10     Tue
785  11 Wed  week_day   Wed  NaN      NaN  11     Wed
786  12 Thu  week_day   Thu  NaN      NaN  12     Thu
787  13 Fri  week_day   Fri  NaN      NaN  13     Fri
788  14 Sat  week_day   Sat  NaN      NaN  14     Sat
789  15 Sun  week_day   Sun  NaN      NaN  15     Sun
790  16 Mon  week_day   Mon  NaN      NaN  16     Mon
791  17 Tue  week_day   Tue  NaN      NaN  17     Tue
792  18 Wed  week_day   Wed  NaN      NaN  18     Wed
793  19 Thu  week_day   Thu  NaN      NaN  19     Thu
794  20 Fri  week_day   Fri  NaN      NaN  20     Fri
795  21 Sat  week_day   Sat  NaN      NaN  21     Sat
796  22 Sun  week_day   Sun  NaN      NaN  22     Sun
797  23 Mon  week_day   Mon  NaN      NaN  23     Mon
798  24 Tue  week_day   Tue  NaN      NaN  24     Tue
799  25 Wed  week_day   Wed  NaN      NaN  25     Wed
800  26 Thu  week_day   Thu  NaN      NaN  26     Thu
801  27 Fri  week_day   Fri  NaN      NaN  27     Fri
802  28 Sat  week_day   Sat  NaN      NaN  28     Sat
803  29 Sun  week_day   Sun  NaN      NaN  29     Sun
804  30 Mon  week_day   Mon  NaN      NaN  30     Mon
805  31 Tue  week_day   Tue  NaN      NaN  31     Tue

[806 rows x 7 columns]